
/* .slide-over-enter-active, .slide-over-leave-active{
    @apply transform transition ease-in-out duration-300 sm:duration-700
}
.slide-over-enter, .slide-over-leave-to{
    @apply translate-x-full
}
.slide-over-enter-to, .slide-over-leave{
    @apply translate-x-0
} */

.slide-over-enter-active, .slide-over-leave-active{
    @apply transform transition ease-in-out duration-500 sm:duration-700
}
.slide-over-enter{
    @apply translate-x-full
}
.slide-over-enter-to{
   @apply translate-x-0
}
.slide-over-leave-to{
    @apply translate-x-full
}
.slide-over-leave{
    @apply translate-x-0
}

/* <!--
Entering: "transform transition ease-in-out duration-500 sm:duration-700"
    From: "translate-x-full"
    To: "translate-x-0"
Leaving: "transform transition ease-in-out duration-500 sm:duration-700"
    From: "translate-x-0"
    To: "translate-x-full"
--> */
